<!-- <div>
  <input type="text" placeholder="| your comment here" maxlength="200">
  <div class="flex">
    <label class="button">
      <input type="file" (change)="uploadImage($event)">
    </label>
      <button>V</button>
  </div>
</div> -->

<div class="content">
    <div>
      <input type="text" placeholder="| your comment here" maxlength="200">
    </div>

    <div class="MaxB">
      <label class="button">
        <img src="../../../../assets/image-outline.svg">
        <input type="file" (change)="uploadImage($event)">
      </label>
      <button>
        <img src="../../../../assets/arrow-up-outline.svg">
      </button>
    </div>
</div>