img{
    width: 25px;
    height: 25px;
}
div{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
button{
    background: transparent;
    color: black;
}
input{
    background: transparent;
    border: none;
    outline: none;
    color: #AA959D;
}