<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div>

    <div class="MaxA">
      <h3 class="title">Fakebook</h3>
    </div>

    <div class="MaxB">

      <div class="cont-noti">
        <div>
          <img src="../../../assets/person-outline.svg">
        </div>
        <article class="sub-conte">
          <p>Michael Jordan sent you a friend request</p>
          <section class="mini-conte">
            <button (click)="handleAcceptDeclineClick(false)" class="D">Decline</button>
            <button (click)="handleAcceptDeclineClick(true)" class="A">Accept</button>
          </section>
        </article>
      </div>

      <div class="cont-noti">
        <div>
          <img src="../../../assets/person-outline.svg">
        </div>
        <article class="sub-conte">
          <p>Michael Jordan sent you a friend request</p>
          <section class="mini-conte">
            <button (click)="handleAcceptDeclineClick(false)" class="D">Decline</button>
            <button (click)="handleAcceptDeclineClick(true)" class="A">Accept</button>
          </section>
        </article>
      </div>

      <div class="cont-noti">
        <div>
          <img src="../../../assets/person-outline.svg">
        </div>
        <article class="sub-conte">
          <p>Michael Jordan sent you a friend request</p>
          <section class="mini-conte">
            <button (click)="handleAcceptDeclineClick(false)" class="D">Decline</button>
            <button (click)="handleAcceptDeclineClick(true)" class="A">Accept</button>
          </section>
        </article>
      </div>
    </div>

<app-nav-bar></app-nav-bar>
  </div>
</body>
</html>
